<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>258383946296-2942tkrbif2c7resijg0g38lbmt1ob16.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.258383946296-2942tkrbif2c7resijg0g38lbmt1ob16</string>
	<key>API_KEY</key>
	<string>AIzaSyD9zKp9l2FTH08Z1iQDWqD2I-vYQ17VJ_k</string>
	<key>GCM_SENDER_ID</key>
	<string>258383946296</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.nft</string>
	<key>PROJECT_ID</key>
	<string>nft-firebase-31de9</string>
	<key>STORAGE_BUCKET</key>
	<string>nft-firebase-31de9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:258383946296:ios:bf5c7959b2d870cb6f7ccd</string>
	<key>DATABASE_URL</key>
	<string>https://nft-firebase-31de9.firebaseio.com</string>
</dict>
</plist>